{% extends 'table_creator/base.html' %}
{% load static %}
{% block content %}
	<div class = 'container-fluid'>
    <div class = 'col-sm-12 text-center'>
        <h1><strong>SMART MEDICAL CASE</strong></h1><br>
    </div>
</div>
<div class = 'container-fluid text-center'>
    <h3><strong>NEVER MISS A PILL AGAIN</strong></h3>
</div>
<br>
<div class = 'container-fluid text-center d-flex justify-content-center'>
    <div class = 'row'>
        <div class = 'col'>
            <div class="card" style="width: 69.5rem;">
                <div class="card-body">
                  <h5 class="card-title" style="background-color: black;color: white;"><strong>INSTRUCTIONS FOR USE</strong></h5>
                  <p class="card-text"><ul>
                      <li>Use the <a href = '/configure'>configurator</a> located on the website to get the right csv for you </li>
                      <li>Enter your name and the details for each pill box individually. Use the admin site to find your download</li>
                      <li>Enter the days data as 1000000 (only Monday)</li>
                      <li>Select your data and download the csv generated and save it in the sd card provided under the name of 'data.csv'</li>
                      <li>Remove the unwanted data, like the name column and other waste generated data</li>
                      <li>Insert the sd card in your device and switch it on. The device should work as intended.</li>
                  </ul></p>
                </div>
              </div>
        </div>
    </div>
</div>
<div class = 'container-fluid text-center d-flex justify-content-center'>
    <div class = 'row'>
        <div class = 'col'>
            <div class="card" style="width: 69.5rem;">
                <div class="card-body">
                  <h5 class="card-title" style="background-color: black;color:white;"><strong>ADD INFORMATION</strong></h5>
<p class="card-text"><ul>
                      <li>
                      	<form method='POST' action=''>{% csrf_token %}
								{{form.as_p}}
        						<input type="submit" value='Save'/>
    					</form>
              </div>
          </div>
      </div>
  </div>
</div>
<br><br>
	
{% endblock %}