{% extends 'table_creator/base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class = 'container-fluid text-center'>
    <h1>LEARN MORE ABOUT THE SMART MC HERE !</h1>
    <p>While units are not available at this point of time, enter your email below to receive a free 50% discount on the 50$ device!</p>
    <img class = 'img-fluid' src = '{% static "table_creator/image/smc.png" %}'>
    <br><br>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1"><strong>Email address</strong></label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br><br>

{% endblock %}